<template>
  <v-snackbar
    v-model="show"
    :color="colorCondition ? 'success' : 'error'"
    top
    multi-line
    text
  >
    <span>{{message}}</span>
  </v-snackbar>
</template>

<script lang="ts">
import Vue from 'vue';
import { mapActions, mapGetters } from "vuex";

const SnackNotification = Vue.extend({
  props: ["colorCondition", "visibility", "message"],
  computed: {
    ...mapGetters(["isSnackbarVisible"]),
    show: {
      get: function() {return this.isSnackbarVisible},
      set: function(value) {return this.setSnackbarVisibility(value)}
    },
  },
  methods: {
    ...mapActions(["setSnackbarVisibility"])
  },
});

export default SnackNotification;
</script>
