<template>
  <div v-if="isPageLoaderEnabled" id="page-loader" :class="{'active':isPageLoaderEnabled}">
    <v-progress-circular
        :size="100"
        color="primary"
        indeterminate
    ></v-progress-circular>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { mapGetters } from "vuex";

const PageLoader = Vue.extend({
  computed: {
    ...mapGetters(["isPageLoaderEnabled"])
  },
});

export default PageLoader;
</script>

<style scoped>
@import "~@/styles/page-loader.scss";
</style>
