#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $text-primary !important;

  .v-main {
    margin-top: 224px;
    width: 80%;
  }

  a {
    color: $text-primary;
    text-decoration: none;
  }
}
