#app {
  .book {
    .description {
      color: $text-primary;
    }
    .v-card {
      margin-bottom: 12px;
    }
    .v-list-item__content,
    .authors,
    .characters {
      color: $text-primary;
      .v-card__title {
        text-align: center;
      }
    }
    .cover-container {
      .v-image.cover {
        z-index: 1;
      }
      .v-btn {
        color: $text-primary;
        text-transform: unset;
      }
    }
  }
}
