#app {
  .comics-list {
    padding: 5px;

    .element {
      color: $text-primary;
      padding: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      a {
        text-decoration: none;
        color: $text-primary;
      }
    }
  }
}
