#app {
  .serie {
    .description {
      color: $text-primary;
    }
    #menu-actions-container {
      position: absolute;
      right: 5px;
      top: 5px;
    }
    .v-list-item__content {
      color: $text-primary;
    }
    .books {
      padding: 5px;

      .book {
        color: $text-primary;
        padding: 5px;

        a {
          text-decoration: none;
          color: $text-primary;
        }
      }
    }
  }
}
