<template>
  <div class="book" :key="id">
    <v-container>
      <v-row
          justify="space-between"
          no-gutters
      >
        <v-col md="8" class="text-left">
          <v-row no-gutters class="mb-3">
            <small>Released on {{ book.releaseDate | formatDate }}</small>
            <v-expansion-panels>
              <v-expansion-panel class="description">
                <v-expansion-panel-header>{{ book.title }}</v-expansion-panel-header>
                <v-expansion-panel-content eager>
                  <div v-html="book.description"></div>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-row>
          <v-card elevation="2">
            <v-list-item>
              <v-list-item-content v-if="book.pageCount">
                <v-list-item-title><small>Page count</small></v-list-item-title>
                <v-list-item-subtitle>
                  <small>{{ book.pageCount }} pages</small>
                </v-list-item-subtitle>
              </v-list-item-content>
              <v-list-item-content v-if="book.sku">
                <v-list-item-title><small>SKU</small></v-list-item-title>
                <v-list-item-subtitle>
                  <small>{{ book.sku }}</small>
                </v-list-item-subtitle>
              </v-list-item-content>
              <v-list-item-content v-if="book.isbn">
                <v-list-item-title><small>ISBN</small></v-list-item-title>
                <v-list-item-subtitle>
                  <small>{{ book.isbn }}</small>
                </v-list-item-subtitle>
              </v-list-item-content>
              <v-list-item-content v-if="book.country && book.price">
                <v-list-item-title><small>Price</small></v-list-item-title>
                <v-list-item-subtitle>
                  <small>{{ `${book.country.code}&nbsp;${book.country.currency}${book.price}` }}</small>
                </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-card>
          <persons-list
              :classes="{primary: 'authors', secondary: 'author'}"
              title="Authors"
              :persons="book.authors"
              attributes-name="roles"
          />
          <persons-list
              :classes="{primary: 'characters', secondary: 'character'}"
              title="Characters"
              :persons="book.characters"
          />
        </v-col>

        <v-col md="3" class="cover-container">
          <v-img
              class="mt-n16 cover"
              :src="book.cover"
              :alt="book.title"
          ></v-img>
          <v-btn
              v-if="serieURL"
              :to="previous"
              small
              color="primary"
              :disabled="!previous"
              v-on:click="updateComponent"
          >
            <v-icon left>
              mdi-chevron-left
            </v-icon>
            Previous
          </v-btn>
          <v-btn
              v-if="serieURL"
              :to="serieURL"
              small
              color="primary"
          >
            Series
            <v-icon right>
              mdi-chevron-up
            </v-icon>
          </v-btn>
          <v-btn
              v-if="serieURL"
              :to="next"
              small
              color="primary"
              :disabled="!next"
              v-on:click="updateComponent"
          >
            Next
            <v-icon right>
              mdi-chevron-right
            </v-icon>
          </v-btn>
          <v-btn
              v-if="user"
              small
              :color="isRead ? 'primary' : 'lightgrey'"
              v-on:click="isRead ? unread() : read()"
          >
            <v-icon>
              {{ isRead ? 'mdi-book' : 'mdi-book-outline' }}
            </v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import {mapActions, mapGetters} from "vuex";
import BookProvider from "@/dataProviders/BookProvider";
import Book from "@/objects/Book";
import strings from "@/utils/strings";
import PersonsList from "@/components/PersonsList.vue";
import readsProvider from "@/dataProviders/ReadsProvider";
import {Route} from "@/router/interfaces";

interface BookViewData {
  id: string|null,
  book: Book,
  title: string,
  serieURL: Route|null,
  isRead: boolean,
  readObject: any,
  previous: Route|null,
  next: Route|null,
}

const BookView = Vue.extend({
  components: {PersonsList},
  data(): BookViewData {
    return {
      id: null,
      book: new Book(),
      title: '',
      serieURL: null,
      isRead: false,
      readObject: null,
      previous: null,
      next: null,
    }
  },
  async created() {
    try {
      await this.updateComponent();
    } catch (e) {
      this.displaySnackbar({ success: false, message: "An error occurred! Please, try to reload the page." });
      this.toggleLoaders(false);
    }
  },
  computed: {
    ...mapGetters(['getBanner', 'user']),
  },
  methods: {
    ...mapActions(["setCurrentPageName", 'setBanner', 'togglePageLoader', 'displaySnackbar']),
    toggleLoaders(enable: boolean) {
      this.$emit('loading', enable);
      this.togglePageLoader(enable);
    },
    async updateComponent() {
      this.toggleLoaders(true);
      this.id = this.$route.params.id;
      const response = await BookProvider.getOne(this.id);
      this.book = response.current;
      this.isRead = false;
      this.setTitle();
      this.setSerieURL();
      this.setBanner(this.book.cover);
      if (this.user && null !== response.read) {
        this.isRead = true;
        this.readObject = response.read;
      }
      this.setCurrentPageName(this.title);
      this.getAround(response.previous, response.next);
      this.toggleLoaders(false);
    },
    setTitle() {
      this.title = `${this.book.serie.title} #${this.book.number}`;
    },
    setSerieURL() {
      if (this.book.serie.id) {
        this.serieURL = {name: 'serie', params: {id: this.book.serie.id}};
      }
    },
    async read() {
      if (!this.isRead) {
        this.isRead = true;
        this.readObject = await readsProvider.post(this.user, this.book);
      }
    },
    unread() {
      if (this.readObject) {
        readsProvider.delete(this.readObject.id);
        this.isRead = false;
        this.readObject = null;
      }
    },
    getAround(previous: Book|null, next: Book|null) {
      this.previous = previous ? { name: 'book', params: { id: previous.id }} : null;
      this.next = next ? { name: 'book', params: { id: next.id }} : null;
    },
  },
  filters: {
    formatDate: (date: string) => strings.formatDate(date)
  }
});

export default BookView;
</script>

<style lang="scss">
@import "@/styles/book-view.scss";
</style>
