<template>
  <div class="person">
    <v-container>
      <v-row
          justify="space-between"
          no-gutters
      >
        <v-col md="8" class="text-left">
          <v-card elevation="2">
            <v-card-text>{{ character.presentation }}</v-card-text>
          </v-card>
          <comics-list :elements="character.series" title="Series" />
        </v-col>

        <v-col md="3" class="cover-container">
          <v-row>
            <v-avatar
                size="200"
                class="mt-n16"
            >
              <v-icon v-if="!character.avatar" dark size="200">
                mdi-account-circle
              </v-icon>
              <img v-else :src="character.avatar" :alt="character.name">
            </v-avatar>
          </v-row>
          <v-row>
            <v-chip
                class="d-inline"
                color="secondary"
                outlined
                pill
                x-large
            >
              {{ character.name }}
              <v-icon right>
                mdi-account-outline
              </v-icon>
            </v-chip>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import {mapActions} from "vuex";
import Character from "@/objects/Character";
import characterProvider from "@/dataProviders/CharacterProvider";
import ComicsList from "@/components/ComicsList.vue";

const CharacterView = Vue.extend({
  components: {ComicsList},
  data: () => ({
    character: new Character(),
  }),
  async created() {
    this.$emit('loading', true);
    const id = this.$route.params.id;
    this.character = await characterProvider.getOne(id);
    this.setCurrentPageName(this.character.name)
    this.$emit('loading', false);
  },
  methods: {
    ...mapActions(["setCurrentPageName"]),
  }
});

export default CharacterView;
</script>

<style scoped lang="scss">
#app {
  .v-avatar {
    z-index: 1;
    margin: 0 auto 5px;
  }
  .v-chip {
    margin: 0 auto;
  }
  .v-card + .v-card {
    margin-top: 10px;
  }
}
</style>
