<template>
  <div class="home">
    <home v-on:loading="$emit('loading', $event)" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Home from '@/components/Home.vue'
import { mapActions } from "vuex";

const HomeView = Vue.extend({
  components: {
    Home
  },
  created() {
    this.setCurrentPageName('Welcome to ComicsBox')
  },
  methods: {
    ...mapActions(["setCurrentPageName"]),
  }
});

export default HomeView;
</script>
