<template>
  <v-container grid-list-xs>
    <v-layout row wrap justify-center align-center>
      <v-flex xs12 md8 lg6>
        <Login />
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import Login from "@/modules/authentication/Login.vue";
import { mapActions } from "vuex";

const LoginView = Vue.extend({
  components: {
    Login,
  },
  created() {
    this.setCurrentPageName(this.$router.currentRoute.name)
  },
  methods: {
    ...mapActions(["setCurrentPageName"]),
  }
});

export default LoginView;
</script>
