<template>
  <div class="profile">
    <v-container>
      <v-row
          md="6"
          justify="end"
          no-gutters
      >
        <v-col
            md="3"
            offset-md="3"
        >
          <v-avatar
              size="200"
              class="mt-n16"
          >
            <v-icon v-if="!user.avatar" dark size="200">
              mdi-account-circle
            </v-icon>
            <img v-else :src="entrypoint + user.avatar" :alt="user.username">
          </v-avatar>
        </v-col>
      </v-row>
      <v-row
          md="6"
          justify="end"
          no-gutters
      >
        <v-col
            md="3"
            offset-md="3"
        >
          <v-chip
              class="ma-2 d-inline"
              color="primary"
              outlined
              pill
              x-large
          >
            {{ user.username }}
            <v-icon right>
              mdi-account-outline
            </v-icon>
          </v-chip>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import {mapActions, mapGetters} from "vuex";
const entrypoint: string = process.env.VUE_APP_COMICSBOX_ENTRYPOINT || '';

const HomeView = Vue.extend({
  data: () => ({
    entrypoint,
  }),
  created() {
    this.$emit('loading', true);
    this.setCurrentPageName(this.$router.currentRoute.name);
    this.$emit('loading', false);
  },
  computed: {
    ...mapGetters(["user"]),
  },
  methods: {
    ...mapActions(["setCurrentPageName"]),
  }
});

export default HomeView;
</script>

<style scoped lang="scss">
#app {
  .v-avatar {
    z-index: 1;
  }
}
</style>
