<template>
<v-container grid-list-xs>
  <v-layout row wrap justify-center align-center>
    <v-flex xs12 md8 lg6>
      <Register />
    </v-flex>
  </v-layout>
</v-container>

</template>

<script lang="ts">
import Vue from 'vue';
import Register from "@/modules/authentication/Register.vue";

const RegisterView = Vue.extend({
  components: {
    Register
  }
});

export default RegisterView;
</script>
