<template>
  <div class="serie">
    <v-container>
      <v-row no-gutters>
        <v-col md="12" class="text-left">
          <v-card elevation="2" class="description" v-if="serie.description">
            <div v-html="serie.description"></div>
          </v-card>
          <v-card elevation="2" class="mb-3">
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title>{{ serie.title }}</v-list-item-title>
                <v-list-item-subtitle>
                  <small>{{ getDates() }}</small>
                </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title><small>Publisher</small></v-list-item-title>
                <v-list-item-subtitle>
                  <small>{{ serie.publisher }}</small>
                </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <div id="menu-actions-container">
              <v-menu bottom left absolute>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                      dark
                      icon
                      v-bind="attrs"
                      v-on="on"
                  >
                    <v-icon>mdi-dots-vertical</v-icon>
                  </v-btn>
                </template>

                <v-list dense nav>
                  <v-list-item
                      v-for="(item, i) in menuItems"
                      :key="i"
                      @click="$router.push({name: item.link, query: {serie: serie.id}})"
                  >
                    <v-list-item-icon>
                      <v-icon dense>{{ item.icon }}</v-icon>
                    </v-list-item-icon>
                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
            </div>
          </v-card>
          <v-card elevation="2" class="books">
            <v-btn
                class="mx-2"
                absolute
                right
                fab
                dark
                x-small
                color="primary"
            >
              <v-icon dark v-on:click="reverseBooks">
                mdi-sort
              </v-icon>
            </v-btn>
            <v-row no-gutters justify="center">
              <v-col
                  class="text-center book"
                  md="2"
                  v-for="(book, i) in serie.books"
                  v-bind:key="i"
              >
                <div>
                  <router-link :to="{ name: 'book', params: { id: book.id }}">
                    <v-img
                          class="mb-0 book-cover"
                          :src="book.cover"
                          alt=""
                          aspect-ratio="0.654"
                      ></v-img>
                  </router-link>
                  <v-btn
                      v-if="user"
                      x-small
                      :color="book.read ? 'primary' : 'lightgrey'"
                      v-on:click="book.read ? unread(book) : read(book)"
                  >
                    <v-icon x-small>
                      {{ book.read ? 'mdi-book' : 'mdi-book-outline' }}
                    </v-icon>
                  </v-btn>
                </div>
                <div>
                  <router-link :to="{ name: 'book', params: { id: book.id }}">
                    <h5>{{ getBookTitle(book) }}</h5>
                  </router-link>
                  <p><small>{{ book.releaseDate | formatDate }}</small></p>
                </div>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import {mapActions, mapGetters} from "vuex";
import SerieProvider from "@/dataProviders/SerieProvider";
import strings from "@/utils/strings";
import Serie from "@/objects/Serie";
import Book from "@/objects/Book";
import readsProvider from "@/dataProviders/ReadsProvider";
import ReadsProvider from "@/dataProviders/ReadsProvider";

interface SerieViewData {
  serie: Serie,
  menuItems: Array<object>
  reads: Array<object>
}

const SerieView = Vue.extend({
  data: (): SerieViewData => ({
    serie: new Serie(),
    menuItems: [{
      title: 'Ajouter',
      icon: 'mdi-plus',
      link: 'Create Book'
    }],
    reads: [],
  }),
  async created() {
    this.$emit('loading', true);
    const id = this.$route.params.id;
    this.serie = await SerieProvider.getOne(id);
    this.setReads();
    this.setBanner(this.getCover())
    this.setCurrentPageName(this.serie.title)
    this.$emit('loading', false);
  },
  computed: {
    ...mapGetters(['getBanner', 'user']),
  },
  methods: {
    ...mapActions(["setCurrentPageName", 'setBanner']),
    getCover() {
      if ([] !== this.serie.books) {
        const i = Math.floor(Math.random() * this.serie.books.length);
        return this.serie.books[i].cover;
      }
    },
    getDates() {
      if (this.serie.beginYear) {
        const end = this.serie.endYear || 'Present';
        return `${this.serie.beginYear} - ${end}`;
      }
    },
    getBookTitle(book: Book) {
      if (book) {
        return book.number ? `${this.serie.title} #${book.number}` : this.serie.title;
      }
    },
    reverseBooks() {
      this.serie.books.reverse();
    },
    async read(book: Book) {
      if (!book.read) {
        const readObject = await readsProvider.post(this.user, book);
        book.read = readObject.id;
        this.reads.push(readObject);
      }
    },
    unread(book: Book) {
      if (book.read) {
        readsProvider.delete(book.read);
        const i = this.reads.findIndex(read => book.read === read.id);
        if (-1 < i) {
          this.reads.splice(i, 1);
        }
        book.read = null;
      }
    },
    setReads() {
      if (this.user) {
        ReadsProvider.getByBooks(this.user, this.serie.books)
            .then(reads => {
              this.reads = reads;
              for (const read of reads) {
                const i = this.serie.books.findIndex(book => book.id === read.book);
                if (-1 < i) {
                  this.serie.books[i].read = read.id;
                }
              }
            });
      }
    }
  },
  filters: {
    formatDate: (date: string) => strings.formatDate(date)
  }
});

export default SerieView;
</script>

<style scoped lang="scss">
@import "@/styles/serie-view.scss";
</style>
