<template>
  <v-row class="d-flex">
    <v-col
        class="d-flex align-center role-field"
        cols="12"
        sm="6"
    >
      <search-input
          :entity.sync="selectedAuthor"
          :type="types.author"
          field="name"
          label="Author"
      />
    </v-col>
    <v-col
        class="d-flex align-center role-field"
        cols="12"
        sm="6"
    >
      <v-select
          @change="updateRoles"
          @click:clear="removeRoles"
          :items="authorRolesList"
          item-text="name"
          item-value="id"
          label="Author Role"
          prepend-icon="mdi-checkbox-multiple-blank"
          outlined
          multiple
          small-chips
          deletable-chips
          clearable
      ></v-select>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import Vue, {PropType} from "vue";
import Author from "@/objects/Author";
import AuthorRole from "@/objects/AuthorRole";
import SearchInput from "@/components/SearchInput.vue";
import Types from "@/objects/Types";

const AuthorField = Vue.extend({
  components: {SearchInput},
  props: {
    author: Author,
    authorRolesList: Array as PropType<AuthorRole[]>,
  },
  data: () => ({
    roles: [] as string[],
    selectedAuthor: '',
    types: Types,
  }),
  watch: {
    selectedAuthor: function (val) {
      this.author.id = val;
    },
  },
  methods: {
    updateRoles(roles: [string]|[] = []) {
      let diff: string[] = [];
      if (0 < this.roles.length) {
        if (!roles.length) {
          diff = this.roles;
        } else {
          diff = this.roles.filter(role => !roles.includes(role));
        }
      }
      for (const id of roles) {
        const role = new AuthorRole();
        role.id = id;
        this.author.addRole(role);
      }
      for (const id of diff) {
        this.author.removeRole(id);
      }
      this.roles = roles;
    },
    removeRoles() {
      for (const id of this.roles) {
        this.author.removeRole(id);
      }
    }
  }
})

export default AuthorField;
</script>

<style scoped>
  .role-field {
    position: relative;
  }
</style>
