<template>
  <v-card elevation="2" class="comics-list">
    <v-card-title>{{ title }}</v-card-title>
    <v-divider></v-divider>
    <v-row no-gutters justify="center">
      <v-col
          class="text-center element"
          md="2"
          v-for="(element, i) in elements"
          v-bind:key="i"
      >
        <div>
          <router-link :to="{name: elementName, params: { id: element.id }}">
            <v-img
                class="mb-2 element-cover"
                :src="element.cover"
                alt=""
            ></v-img>
          </router-link>
        </div>
        <div>
          <router-link :to="{ name: elementName, params: { id: element.id }}">
            <h5>{{ getTitle(element) }}</h5>
          </router-link>
          <p><small>{{ getDate(element) }}</small></p>
        </div>
      </v-col>
    </v-row>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue'
import strings from '@/utils/strings';
import Book from "@/objects/Book";
import Serie from "@/objects/Serie";

const ElementName = {
  book: 'book',
  serie: 'serie',
}

interface ComicsListData {
  elementName: string | null,
}

const ComicsList = Vue.extend({
  props: {
    elements: Array,
    title: String
  },
  data: (): ComicsListData => ({
    elementName: null
  }),
  mounted() {
    this.setElementName();
  },
  beforeUpdate() {
    this.setElementName();
  },
  methods: {
    setElementName() {
      if (this.elements[0]) {
        if (this.elements[0] instanceof Book) {
          this.elementName = ElementName.book;
        } else if (this.elements[0] instanceof Serie) {
          this.elementName = ElementName.serie;
        }
      }
    },
    getTitle(element: Book|Serie) {
      if (element instanceof Book) {
        return element.number ? `${element.serie.title} #${element.number}` : element.serie.title;
      } else {
        return element.title;
      }
    },
    getDate(element: Book|Serie) {
      if (element instanceof Book) {
        return strings.formatDate(element.releaseDate);
      } else {
        return `${element.beginYear} - ${element.endYear || 'Present'}`;
      }
    },
  }
});

export default ComicsList;
</script>

<style scoped lang="scss">
@import "@/styles/comics-list.scss";
</style>
