<template>
  <v-row justify="center" v-if="dialog">
    <v-dialog
        v-model="dialog"
        :persistent="persistent"
        max-width="400"
    >
      <template v-if="activator && activatorText" v-slot:activator="{ on, attrs }">
        <v-btn
            color="primary"
            dark
            v-bind="attrs"
            v-on="on"
        >
          {{ activatorText }}
        </v-btn>
      </template>
      <v-card>
        <v-card-title class="text-h5">
          {{ title }}
        </v-card-title>
        <v-card-text>{{ content }}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
              color="green darken-1"
              text
              @click="deny"
          >
            {{ buttons.deny }}
          </v-btn>
          <v-btn
              color="green darken-1"
              text
              @click="accept"
          >
            {{ buttons.accept }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import Vue from "vue";

const Dialog = Vue.extend({
  props: {
    persistent: Boolean,
    dialog: Boolean,
    activator: Boolean,
    activatorText: String,
    title: String,
    content: String,
    buttons: {
      deny: String,
      accept: String
    }
  },
  methods: {
    deny() {
      this.$emit('update:dialog', false);
      this.$emit('dialog:response', false);
    },
    accept() {
      this.$emit('update:dialog', false);
      this.$emit('dialog:response', true);
    }
  }
})

export default Dialog;
</script>

<style scoped>

</style>
