<template>
  <div :class="classes">
    <v-btn
        x-small
        dark
        :disabled="1 === elements.length"
        :data-uid="element.uid"
        @click="remove"
    >
      <v-icon>mdi-minus</v-icon>
    </v-btn>
    <v-btn
        x-small
        dark
        @click="add"
    >
      <v-icon>mdi-plus</v-icon>
    </v-btn>
  </div>
</template>

<script lang="ts">
import Vue, {PropType} from "vue";
import strings from "@/utils/strings";

type Element = {uid: string, item: object};

const FieldsCollectionButtons = Vue.extend({
  props: {
    instanceName: String,
    classes: String,
    elements: Array as PropType<Element[]>,
    element: Object as PropType<Element>
  },
  data: () => ({
    instance: undefined
  }),
  created() {
    if (!this.instanceName) {
      throw new Error('You must provide a name for the instance');
    }
    try {
      this.instance = require('@/objects/' + this.instanceName).default;
    } catch (e) {
      throw new Error('You must provide a valid name for the instance');
    }
  },
  methods: {
    add() {
      this.elements.push({
        uid: strings.generateUniqueId(),
        // @ts-ignore
        item: new this.instance()
      });
    },
    remove(e: {currentTarget: HTMLElement}) {
      const uid = e.currentTarget?.dataset?.uid;
      const id = this.elements.findIndex(item => item.uid === uid);
      this.elements.splice(id, id >= 0 ? 1 : 0);
    },
  }
});

export default FieldsCollectionButtons;
</script>
