<template>
  <v-overlay
      :opacity=".7"
      :value="loading"
  >
    <v-progress-circular
        indeterminate
        color="primary"
        :active="loading"
        :size="150"
    ></v-progress-circular>
  </v-overlay>
</template>

<script>
import Vue from "vue";

const FullPageLoader = Vue.extend({
  name: "FullPageLoader",
  props: {
    loading: Boolean
  }
});

export default FullPageLoader;
</script>

<style scoped>

</style>
