<template>
  <v-container>
    <comics-list :elements="books" title="Latest added books" />
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import ComicsList from "@/components/ComicsList.vue";
import BookProvider from "@/dataProviders/BookProvider";
import Book from "@/objects/Book";
const entrypoint: string = process.env.VUE_APP_COMICSBOX_ENTRYPOINT || '';

interface HomeData {
  entrypoint: string,
  books: Book[]
}

const Home = Vue.extend({
  components: {ComicsList},
  data: (): HomeData => ({
    entrypoint: entrypoint,
    books: [],
  }),
  async created() {
    this.$emit('loading', true);
    this.books = await BookProvider.getAll({order: {createdAt: 'desc'}, page: 1})
    this.$emit('loading', false);
  },
  methods: {
    getBookTitle(book: Book) {
      if (book) {
        return book.number ? `${book.serie.title} #${book.number}` : book.serie.title;
      }
    }
  },
});

export default Home;
</script>
