<template>
    <v-app-bar
        absolute
        color="primary"
        dark
        shrink-on-scroll
        prominent
        :src="getBanner || banner"
        fade-img-on-scroll
    >
      <template v-slot:img="{ props }">
        <v-img
            v-bind="props"
            gradient="to top right, rgba(100,115,201,.7), rgba(25,32,72,.7)"
        ></v-img>
      </template>

      <v-app-bar-nav-icon @click="openDrawer"></v-app-bar-nav-icon>

      <v-app-bar-title>{{ getCurrentPageName | capitalize }}</v-app-bar-title>

      <v-spacer></v-spacer>

      <v-btn
          icon
          :to="{name: 'home'}"
          title="Home"
          v-if="$router.currentRoute.name !== 'home'"
      >
        <v-icon>mdi-home</v-icon>
      </v-btn>

      <v-btn
          icon
          :to="{name: 'login'}"
          title="Login"
          v-if="undefined === isUserLoggedIn || false === isUserLoggedIn"
      >
        <v-icon>mdi-login-variant</v-icon>
      </v-btn>
      <router-link
          v-if="isUserLoggedIn"
          :to="{name: 'profile'}"
          class="text-decoration-none"
      >
        <v-avatar
            color="#2c3e50"
            class="mr-1"
            :title="user.username"
        >
          <v-icon
              dark
              v-if="user && null === user.avatar"
          >
            mdi-account-circle
          </v-icon>
          <img
              v-else
              :src="entrypoint + user.avatar"
              :alt="user.username"
          >
        </v-avatar>
      </router-link>
      <v-btn
          icon
          :to="{name: 'home'}"
          title="Logout"
          v-if="isUserLoggedIn"
          v-on:click="processLogout()"
      >
        <v-icon>mdi-logout-variant</v-icon>
      </v-btn>

      <template v-slot:extension>
        <v-tabs align-with-title>
          <v-tab>Tab 1</v-tab>
          <v-tab>Tab 2</v-tab>
          <v-tab>Tab 3</v-tab>
        </v-tabs>
      </template>
    </v-app-bar>
</template>

<script lang="ts">
import Vue from 'vue';
import { mapGetters, mapActions } from "vuex";
const entrypoint: string = process.env.VUE_APP_COMICSBOX_ENTRYPOINT || '';

const NavBar = Vue.extend({
  data: () => ({
    entrypoint: entrypoint,
    banner: 'https://picsum.photos/1920/1080?random&blur'
  }),
  computed: {
    ...mapGetters(["isUserLoggedIn", "getCurrentPageName", 'getBanner', 'user']),
  },
  methods: {
    ...mapActions(["logout"]),
    processLogout() {
      this.logout()
    },
    openDrawer() {
      this.$emit('openDrawer', true);
    },
  }
});

export default NavBar;
</script>

<style scoped>

</style>
