<template>
  <div>
    <nav-bar v-on:openDrawer="drawer = true" />
    <v-navigation-drawer
        v-model="drawer"
        absolute
        temporary
    >
      <v-list nav dense>
        <v-list-item-group
            v-model="group"
            active-class="deep-purple--text text--accent-4"
        >
          <div v-for="(route, index) in $router.getRoutes()" :key="index">
            <router-link :to="route" class="text-decoration-none" v-if="chooseRoutesOnDrawer(route)">
              <v-list-item>
                <v-list-item-icon>
                  <v-icon>{{ route.meta.icon }}</v-icon>
                </v-list-item-icon>
                <v-list-item-title>{{ route.name | capitalize }}</v-list-item-title>
              </v-list-item>
            </router-link>
          </div>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { mapGetters } from "vuex";
import {RouteConfig, RouteRecordPublic} from "vue-router";
import NavBar from "@/components/NavBar.vue";

const Navigation = Vue.extend({
  components: {NavBar},
  data: () => ({
    drawer: false,
    group: null,
  }),
  computed: {
    ...mapGetters(["isUserLoggedIn"])
  },
  methods: {
    chooseRoutesOnDrawer(route: RouteRecordPublic|RouteConfig) {
      if (true === route.meta.requiresAuth) {
        return this.isUserLoggedIn;
      } else if (null === route.meta.requiresAuth) {
        return !this.isUserLoggedIn;
      } else {
        return true;
      }
    }
  }
})

export default Navigation;
</script>

<style scoped>

</style>
