<template>
  <v-card elevation="2" :class="classes.primary">
    <v-card-title>{{ title }}</v-card-title>
    <v-divider></v-divider>
    <v-row no-gutters justify="center" class="mt-2">
      <v-col
          :class="['text-center', classes.secondary]"
          md="3"
          v-for="(person, i) in persons"
          v-bind:key="i"
      >
        <div>
          <router-link :to="{ name: classes.secondary, params: { id: person.id }}">
            <v-avatar size="100">
              <v-icon dark v-if="!person.avatar">
                mdi-account-circle
              </v-icon>
              <img v-else :src="person.avatar" :alt="person.name">
            </v-avatar>
          </router-link>
        </div>
        <div>
          <router-link :to="{ name: classes.secondary, params: { id: person.id }}">
            <h4>{{ person.name }}</h4>
          </router-link>
        </div>
        <v-chip
            v-if="attributesName"
            class="ma-2"
            color="secondary"
            outlined
            pill
            label
            x-small
        >
          {{ person[attributesName].join(', ') }}
        </v-chip>
      </v-col>
    </v-row>
  </v-card>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

interface Classes {
  primary: string,
  secondary: string,
}

const PersonList = Vue.extend({
  props: {
    classes: {
      type: Object as PropType<Classes>
    },
    title: String,
    persons: Array,
    attributesName: String
  },
});

export default PersonList;
</script>
