<template>
  <div class="search-container">
    <v-autocomplete
        v-model="selectedEntity"
        :items="items"
        item-text="name"
        item-value="id"
        :loading="loading"
        :search-input.sync="search"
        color="white"
        hide-no-data
        hide-selected
        cache-items
        :label="label || 'Search'"
        placeholder="Start typing to Search"
        prepend-icon="mdi-account-search"
        return-object
        outlined
        clearable
    >
      <template v-slot:selection="data">
        <v-chip
            v-bind="data.attrs"
            :input-value="data.selected"
            @click="data.select"
            small
        >
          <v-avatar left>
            <v-img :src="data.item.avatar"></v-img>
          </v-avatar>
          {{ data.item.name }}
        </v-chip>
      </template>
      <template v-slot:item="data">
        <template v-if="typeof data.item !== 'object'">
          <v-list-item-content v-text="data.item"></v-list-item-content>
        </template>
        <template v-else>
          <v-list-item-avatar>
            <img :src="data.item.avatar" alt="">
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title v-html="data.item[field]"></v-list-item-title>
          </v-list-item-content>
        </template>
      </template>
    </v-autocomplete>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Author from "@/objects/Author";
import Character from "@/objects/Character";
import ProviderFactory from "@/dataProviders/ProviderFactory";
import {SearchProviderInterface} from "@/dataProviders/ProviderInterfaces";
import {
  DefaultComputed,
  DefaultData,
  DefaultMethods,
  DefaultProps,
  ThisTypedComponentOptionsWithRecordProps
} from "vue/types/options";

const SearchInput = Vue.extend({
  props: {
    entity: String,
    type: String,
    field: String,
    label: String
  },
  data() {
    return {
      descriptionLimit: 60,
      entries: new Array<Author|Character>(),
      loading: false,
      selectedEntity: null as Author|Character|null,
      search: null,
      provider: undefined as SearchProviderInterface|undefined
  }},
  created() {
    if (undefined === this.field || undefined === this.type) {
      throw new Error('Field and Type properties must by given');
    }
    try {
      this.provider = ProviderFactory.getProvider(this.type);
    } catch (e) {
      throw new Error('You must provide a valid type');
    }
  },
  computed: {
    items () {
      return this.entries.map((entity: any) => {
        const text = entity[this.field].length > this.descriptionLimit
            ? entity[this.field].slice(0, this.descriptionLimit) + '...'
            : entity[this.field];

        return Object.assign({}, entity, { text })
      })
    },
  },
  watch: {
    selectedEntity: function(val) {
      this.$emit('update:entity', val?.id)
    },
    search: function(val) {
      // Items have already been loaded
      if (3 > val.length) return;
      // Items have already been requested
      if (this.loading) return;
      if ('' === val) return;

      this.loading = true;

      const query: Record<string,any> = {};
      query[this.field] = val;

      // Lazily load input items
      this.provider.search(query)
          .then((entities: any[]|null) => {
            if (null !== entities) {
              this.entries = entities;
            }
          })
          .finally(() => this.loading = false);
    },
  },
} as ThisTypedComponentOptionsWithRecordProps<Vue, DefaultData<any>, DefaultMethods<any>, DefaultComputed, DefaultProps>)

export default SearchInput;
</script>

<style scoped>
.search-container {
  width: 100%;
}
</style>
