<template>
  <v-app>
    <v-card
        class="mx-auto"
        max-width="344"
        outlined
    >
      <v-list-item three-line>
        <v-list-item-content>
          <div class="text-overline mb-4">
            OVERLINE
          </div>
          <v-list-item-title class="text-h5 mb-1">
            Headline 5
          </v-list-item-title>
          <v-list-item-subtitle>Greyhound divisely hello coldly fonwderfully</v-list-item-subtitle>
        </v-list-item-content>

        <v-list-item-avatar
            tile
            size="80"
            color="grey"
        ></v-list-item-avatar>
      </v-list-item>

      <v-card-actions>
        <v-btn
            outlined
            rounded
            text
            :to="{name: 'Create Book'}"
        >
          Button
        </v-btn>
      </v-card-actions>
    </v-card>
    <router-view @loading="$emit('loading', $event)" />
  </v-app>
</template>

<script lang="ts">
import Vue from "vue";

const AdminHome = Vue.extend({
  data: () => ({
    toto: null
  })
});

export default AdminHome;
</script>

<style scoped>

</style>
