<template>
  <div class="create-book">
    <v-form v-model="valid" class="col-lg-8 mx-auto">
      <full-page-loader :loading="loading"/>
      <v-container>
        <v-row>
          <v-col cols="12" md="6">
            <v-text-field
                v-model="book.title"
                :counter="255"
                label="Title"
                prepend-icon="mdi-text"
                required
                outlined
            ></v-text-field>
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field
                v-model="bookNumber"
                :rules="numberRules"
                label="Number"
                pattern="\d+"
                prepend-icon="mdi-numeric"
                prepend-inner-icon="mdi-pound"
                required
                outlined
            ></v-text-field>
          </v-col>
        </v-row>
        <v-divider></v-divider>
        <v-row>
          <v-col cols="12" md="12">
            <v-textarea
                v-model="book.description"
                label="Description"
                prepend-icon="mdi-text"
                required
                outlined
            ></v-textarea>
          </v-col>
        </v-row>
        <v-row align="center" class="mb-2">
          <v-col cols="12" md="6">
            <v-file-input
                v-model="cover"
                label="Cover"
                accept="image/png, image/jpeg"
                placeholder="Upload a cover"
                prepend-icon="mdi-image"
                required
                outlined
            ></v-file-input>
          </v-col>
          <v-col cols="12" md="6">
            <v-img :src="preview" max-width="200" class="preview-cover" />
          </v-col>
        </v-row>
        <v-divider></v-divider>
        <v-row>
          <v-col class="d-flex" cols="12" sm="4">
            <v-select
                v-model="book.format.id"
                :items="formatsList"
                item-text="label"
                item-value="id"
                label="Format"
                prepend-icon="mdi-checkbox-blank"
                outlined
            ></v-select>
          </v-col>
          <v-col cols="12" md="4">
            <v-text-field
                v-model="pageCount"
                :rules="numberRules"
                label="Page count"
                pattern="\d+"
                prepend-icon="mdi-numeric"
                required
                outlined
            ></v-text-field>
          </v-col>
          <v-col cols="12" md="4">
            <v-text-field
                v-model="book.releaseDate"
                label="Release date"
                type="date"
                prepend-icon="mdi-calendar"
                required
                outlined
            ></v-text-field>
          </v-col>
          <v-col cols="12" md="4">
            <v-text-field
                v-model="price"
                :rules="numberRules"
                label="Price"
                pattern="\d+"
                prepend-icon="mdi-cash-100"
                required
                outlined
            ></v-text-field>
          </v-col>
          <v-col class="d-flex" cols="12" sm="4">
            <v-select
                v-model="book.country.id"
                :items="countriesList"
                item-text="name"
                item-value="id"
                label="Country"
                prepend-icon="mdi-flag-outline"
                outlined
            ></v-select>
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field
                v-model="book.isbn"
                :counter="17"
                :rules="isbnRules"
                label="ISBN"
                prepend-icon="mdi-identifier"
                required
                outlined
                @change="checkIsExist"
            ></v-text-field>
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field
                v-model="book.sku"
                label="SKU"
                prepend-icon="mdi-identifier"
                required
                outlined
            ></v-text-field>
          </v-col>
        </v-row>
        <v-divider></v-divider>
        <v-row>
          <v-col
              class="d-flex align-center author-fields"
              cols="12"
              sm="12"
              v-for="element in authors"
              :key="element.uid"
              :data-uid="element.uid"
          >
            <author-field
                :author="element.item"
                :author-roles-list="authorRolesList"
            />
            <fields-collection-buttons
                classes="ml-2 mt-n6 d-flex flex-column"
                :elements="authors"
                :element="element"
                instance-name="Author"
            />
          </v-col>
        </v-row>
        <v-divider></v-divider>
        <v-row>
          <v-col
              class="d-flex align-center characters-fields"
              cols="12"
              sm="12"
              v-for="element in characters"
              :key="element.uid"
              :data-uid="element.uid"
          >
            <search-input
                :entity.sync="element.item.id"
                :type="types.character"
                field="name"
                label="Character"
            />
            <fields-collection-buttons
                classes="ml-2 mt-n6 d-flex flex-column"
                :elements="characters"
                :element="element"
                instance-name="Character"
            />
          </v-col>
        </v-row>
        <v-input type="hidden" v-model="serieId"></v-input>
        <v-btn class="mr-4" @click="submit">Submit</v-btn>
      </v-container>
    </v-form>
    <Dialog
        :dialog.sync="dialog"
        persistent
        title="Congratulations!"
        content="Book have been created successfully."
        :buttons="{deny: 'Go to the book', accept: 'Create another one'}"
        @dialog:response="handleDialogResponse"
    />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { mapActions } from "vuex";
import {BookSerializable} from "@/objects/Book";
import AuthorRole from "@/objects/AuthorRole";
import Author from "@/objects/Author";
import Country from "@/objects/Country";
import CountryProvider from "@/dataProviders/CountryProvider";
import BookProvider from "@/dataProviders/BookProvider";
import Format from "@/objects/Format";
import FormatProvider from "@/dataProviders/FormatProvider";
import AuthorField from "@/components/AuthorField.vue";
import objects from "@/utils/objects";
import strings from "@/utils/strings";
import AuthorRoleProvider from "@/dataProviders/AuthorRoleProvider";
import SerieProvider from "@/dataProviders/SerieProvider";
import Serie from "@/objects/Serie";
import FullPageLoader from "@/components/FullPageLoader.vue";
import SearchInput from "@/components/SearchInput.vue";
import Character from "@/objects/Character";
import Types from "@/objects/Types";
import Dialog from "@/components/Dialog.vue";
import {requestHelper} from "@/utils/requestHelper";
import FieldsCollectionButtons from "@/components/FieldsCollectionButtons.vue";

// todo: handle providers errors
const CreateBookView = Vue.extend({
  components: {Dialog, SearchInput, AuthorField, FullPageLoader, FieldsCollectionButtons},
  data: () => ({
    loading: false,
    valid: false,
    book: new BookSerializable(),
    cover: undefined as File|undefined,
    preview: '/no-cover-med.jpg',
    numberRules: [
      (v: number) => 0 <= v || 'Must be positive'
    ],
    isbnRules: [
      (v: string) => strings.isIsbn(v) || 'Bad ISBN format',
    ],
    countriesList: [] as Country[],
    formatsList: [] as Format[],
    authorRolesList: [] as AuthorRole[],
    authors: [] as {uid: string, item: Author}[],
    characters: [] as {uid: string, item: Character}[],
    serieId: '',
    types: Types,
    dialog: false,
  }),
  created() {
    this.init();
    this.addAuthor();
    this.addCharacter();
    this.setCurrentPageName('Create Book');
    this.setCountriesList();
    this.setFormatsList();
    this.setAuthorRolesList();
    this.$emit('loading', false);
  },
  watch: {
    serieId: function (val) {
      if (strings.isUuid(val)) {
        SerieProvider
            .getOne(val)
            .then(serie => {
              this.book.serie = serie;
            });
      }
      this.book.serie = new Serie();
    },
    cover: function (val) {
      if (val) {
        this.preview = URL.createObjectURL(val);
        this.setBanner(this.preview);
      } else {
        this.preview = '/no-cover-med.jpg';
        this.setBanner('');
      }
    }
  },
  computed: {
    bookNumber: {
      get() {
        return this.book.number;
      },
      set(number: string) {
        this.book.number = Number.parseInt(number);
      }
    },
    pageCount: {
      get() {
        return this.book.pageCount;
      },
      set(number: string) {
        this.book.pageCount = Number.parseInt(number);
      }
    },
    price: {
      get() {
        return this.book.price;
      },
      set(number: string) {
        this.book.price = Number.parseFloat(number);
      }
    }
  },
  methods: {
    ...mapActions(["setCurrentPageName", 'displaySnackbar', 'setBanner']),
    handleQuery() {
      this.serieId = requestHelper.getUuidFromQuery(this.$route, 'serie') || '';
    },
    init() {
      this.book.initializeForCreation();
      this.handleQuery();
      if (this.serieId) {
        this.book.serie = new Serie();
      }
    },
    setCountriesList() {
      CountryProvider.getAll().then(countries => {
        this.countriesList = countries;
        this.countriesList.sort((a, b) => {
          return objects.alphabeticSort(a, b, 'name');
        });
      })
    },
    setFormatsList() {
      FormatProvider.getAll().then(formats => {
        this.formatsList = formats;
        this.formatsList.sort((a, b) => {
          return objects.alphabeticSort(a, b, 'label');
        });
      })
    },
    setAuthorRolesList() {
      AuthorRoleProvider.getAll().then(roles => {
        this.authorRolesList = roles;
        this.authorRolesList.sort((a, b) => {
          return objects.alphabeticSort(a, b, 'name');
        });
      })
    },
    addAuthor() {
      this.authors.push({
        uid: strings.generateUniqueId(),
        item: new Author()
      });
    },
    addCharacter() {
      this.characters.push({
        uid: strings.generateUniqueId(),
        item: new Character()
      });
    },
    handleDialogResponse(val: boolean) {
      if (!val && this.book.id) {
        this.$router.push({ name: 'book', params: { id: this.book.id }});
      }
      this.$router.go(0);
    },
    checkIsExist() {
      if (!strings.isIsbn(this.book.isbn || '')) return;
      const options = {isbn: this.book.isbn};
      BookProvider.getAll(options)
          .then(books => {
            console.log(books);
          })
          .catch(error => console.log(error))
    },
    submit() {
      this.loading = true;
      for (const element of this.authors) {
        this.book.addAuthor(element.item);
      }
      for (const element of this.characters) {
        this.book.addCharacter(element.item);
      }
      BookProvider
          .post(this.book, this.cover)
          .then((book) => {
            this.book.id = book.id;
            this.dialog = true;
          })
          .catch(() => {
            this.displaySnackbar({message: 'Unable to create book', success: false});
          })
          .finally(() => {
            this.loading = false;
          });
    }
  }
});

export default CreateBookView;
</script>

<style scoped lang="scss">
.row {
  margin-top: unset;
}
.preview-cover {
  margin: 0 auto;
  border-radius: 5px;
}
.fitted-chip {
  width: inherit;
  display: flex;
  justify-content: center;
}
</style>
