<template>
  <v-card>
    <v-form rounded v-model="isLoginFormValid" @submit="login">
    <v-card-text>
        <v-text-field
          name="username"
          label="Username*"
          id="username"
          v-model="username"
          prepend-icon="mdi-account-circle"
          required
          :rules="[checkIsRequired(username)]"
          type="email"
        ></v-text-field>

        <v-text-field
          name="password"
          label="Password*"
          id="password"
          v-model="password"
          :type="getPasswordFieldType()"
          prepend-icon="mdi-lock"
          :append-icon="getShowPasswordAppendIcon()"
          @click:append="toggleShowPassword()"
          required
        ></v-text-field>

        <div class="text-center">
          <v-progress-circular indeterminate color="primary" v-if="isProcessing"></v-progress-circular>
        </div>
    </v-card-text>
    <v-card-actions>
      <router-link to="register">Go to Register</router-link>
      <v-spacer></v-spacer>
      <v-btn type="submit" color="success">Login</v-btn>
    </v-card-actions>
    </v-form>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue';
import { mapActions, mapGetters } from "vuex";

const Login = Vue.extend({
  data: function() {
    return {
      showPassword: false,
      isLoginFormValid: false,
      username: "",
      password: "",
    };
  },
  computed: {
    ...mapGetters([
      "isProcessing",
      "isSnackbarVisible"
    ])
  },
  methods: {
    getPasswordFieldType: function() {
      return this.showPassword ? 'text' : 'password';
    },
    toggleShowPassword: function() {
      this.showPassword = !this.showPassword;
    },
    getShowPasswordAppendIcon: function() {
      return this.showPassword ? 'mdi-eye' : 'mdi-eye-off';
    },
    checkIsRequired: function(value: string, errorMessage: string) {
      if (!errorMessage) {
        errorMessage = "This field is required";
      }
      return !!value || errorMessage;
    },
    ...mapActions(["authenticateUserAndSetToken"]),
    login(e) {
      e.preventDefault();
      const loginData = {
        username: this.username,
        password: this.password,
      }
      const self = this;
      this.authenticateUserAndSetToken(loginData)
      .then(() => {
        self.$router.push('/')
      })
    }
  },
});

export default Login;
</script>
