<template>
  <v-card>
    <v-card-title primary-title>
      <h1>Register</h1>
    </v-card-title>
    <v-card-text>
      <v-form rounded v-model="isRegisterFormValid">
        <v-text-field
          name="email"
          label="Email*"
          id="email"
          v-model="email"
          prepend-icon="mdi-email"
          required
          :rules="[checkIsRequired(email), validateEmail(email)]"
          type="email"
        ></v-text-field>

        <v-text-field
          name="password"
          label="Password*"
          id="password"
          v-model="password"
          :type="getPasswordFieldType()"
          prepend-icon="mdi-lock"
          :append-icon="getShowPasswordApendIcon()"
          @click:append="toggleShowPassword()"
          counter="50"
          required
          :rules="[checkIsRequired(password), checkMinLength(password.length,8)]"
          loading
        >
          <template v-slot:progress>
            <v-progress-linear :value="progress(8)" :color="color(8)" absolute height="7"></v-progress-linear>
          </template>
        </v-text-field>

        <v-text-field
          name="username"
          label="Username"
          id="username"
          v-model="username"
          prepend-icon="mdi-account"
        ></v-text-field>

        <div class="text-center">
          <v-progress-circular indeterminate color="primary" v-if="isProcessing"></v-progress-circular>
        </div>
      </v-form>
    </v-card-text>
    <v-card-actions>
      <router-link to="login">Go to login</router-link>
      <v-spacer></v-spacer>
      <v-btn
        color="success"
        :disabled="!isRegisterFormValid || isProcessing || isSnackbarVisible"
        @click="register({email, password, username})"
      >
        <v-icon left>mdi-account-plus</v-icon>Register
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue';
import { mapActions, mapGetters } from "vuex";
import {User} from "@/objects/User";

interface RegisterData extends User {
  showPassword: boolean,
  isRegisterFormValid: boolean,
}

const Register = Vue.extend({
  data: function(): RegisterData {
    return {
      showPassword: false,
      isRegisterFormValid: false,
      email: "",
      password: "",
      username: ""
    };
  },
  methods: {
    getPasswordFieldType: function() {
      return this.showPassword ? 'text' : 'password';
    },
    toggleShowPassword: function() {
      this.showPassword = !this.showPassword;
    },
    getShowPasswordApendIcon: function() {
      return this.showPassword ? 'mdi-eye' : 'mdi-eye-off';
    },
    checkIsRequired: function(value: string, errorMessage: string) {
      if (!errorMessage) {
        errorMessage = "This field is required";
      }
      return !!value || errorMessage;
    },
    checkMinLength(valueLength: number, minLength: number, errorMessage: string) {
      if (!errorMessage) {
        errorMessage = `Min length is ${minLength}`;
      }
      return (!!valueLength && valueLength >= minLength) || errorMessage;
    },
    progress(minLength: number) {
      return Math.min(100, (this.password.length / minLength) * 100);
    },
    color(minLength: number) {
      let selectedColorIndex = 0;
      if (this.progress(minLength) < 40) {
        selectedColorIndex = 0;
      } else if (
        this.progress(minLength) > 40 &&
        this.progress(minLength) < 100
      ) {
        selectedColorIndex = 1;
      } else {
        selectedColorIndex = 2;
      }
      return ["error", "warning", "success"][selectedColorIndex];
    },
    ...mapActions(["registerNewUser", "setSnackbarVisibility", "authenticateUserAndSetToken"]),
    register({email, password, username}: User) {
      this.registerNewUser({email, password, username})
          .then(() => {
            const self = this;
            const loginData: Partial<User> = {username, password}
            setTimeout(() => {
              this.authenticateUserAndSetToken(loginData)
                  .then(() => {
                    self.$router.push('/')
                  });
            }, 3000);
          });
    },
    validateEmail(email: string) {
      const re = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/
      return (
        re.test(String(email).toLowerCase()) ||
        "Oops, this doesn't looks like rigth, can you check please?"
      );
    }
  },
  computed: {
    ...mapGetters([
      "isProcessing",
      "isSnackbarVisible"
    ])
  },
});

export default Register;
</script>
