<template>
  <v-app id="app">
    <navigation />
    <v-main id="main-container" class="mx-auto">
      <v-progress-linear
          v-if="loading"
          :active="loading"
          :indeterminate="loading"
          color="#CE93D8"
      ></v-progress-linear>
      <router-view v-on:loading="loading = $event" />
    </v-main>
    <SnackNotification
        v-bind:visibility="isSnackbarVisible"
        v-bind:colorCondition="isSnackbarSuccess"
        v-bind:message="getSnackbarMessage"
    />
    <PageLoader/>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import { mapGetters, mapActions } from "vuex";
import SnackNotification from "@/modules/notification/SnackNotification.vue";
import PageLoader from "@/modules/pageLoader/PageLoader.vue";
import Navigation from "@/components/Navigation.vue";

const App = Vue.extend({
  components: {
    SnackNotification,
    PageLoader,
    Navigation
  },
  data: () => ({
    loading: true,
  }),
  computed: {
    ...mapGetters([
        "isUserLoggedIn",
        "isSnackbarVisible",
        "getSnackbarMessage",
        "isSnackbarSuccess",
    ])
  },
  mounted() {
    const oldUserState = this.isUserLoggedIn;
    this.checkSession()
    if (oldUserState && !this.isUserLoggedIn) {
      this.$router.push('login');
    }
  },
  methods: {
    ...mapActions(['checkSession']),
  }
});

export default App
</script>

<style lang="scss">
@import "@/styles/app.scss";
</style>
